@charset "utf-8";

img {border: 0 none; vertical-align: bottom;}

.zcol {float: left;margin-right: 10px;}
.zcol:last-child {margin-right: 0;}

.zflickClickBtn {
  display: inline-block;
  padding: 2px 4px;
  border: solid 1px #f00;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.zflickBtnCur {
  background: #0f0;
}
.zlink {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

/**
* clearfix group
*/
.group:after,
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
  line-height: 0;
}
.group,
.clearfix {
  zoom: 1;
}