@charset "utf-8";

img {border: 0 none; vertical-align: bottom;}

.zcol {float: left;margin-left: 10px;}
.zcol:first-child {margin-left: 0;}

/**
* clearfix group
*/
.group:after,
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
  line-height: 0;
}
.group,
.clearfix {
  zoom: 1;
}