@charset "utf-8";
/* Master */
/* line 8, ../sass/zflick.scss */
img {
  border: 0 none;
  vertical-align: bottom;
}

/* line 12, ../sass/zflick.scss */
.zcol {
  display: inline-block;
  float: left;
}

/* line 14, ../sass/zflick.scss */
.zflickClickBtn {
  display: inline-block;
}

/* line 17, ../sass/zflick.scss */
.zflickBtnCur {
  cursor: pointer;
}

/* line 20, ../sass/zflick.scss */
.zlink {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 23, ../sass/zflick.scss */
.group,
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* Custom */
/* line 28, ../sass/zflick.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/zflick.scss */
h1 {
  padding: 0 5px;
}

/* line 37, ../sass/zflick.scss */
.contents .zcol {
  width: 260px;
  text-align: center;
  padding: 0 10px;
}

/* line 44, ../sass/zflick.scss */
.zflickClickBtn {
  padding: 0 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top left, #eeeeee 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(top left, #eeeeee 0%, #cccccc 100%);
  background-image: -o-linear-gradient(top left, #eeeeee 0%, #cccccc 100%);
  background-image: linear-gradient(top left, #eeeeee 0%, #cccccc 100%);
  font-size: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 51, ../sass/zflick.scss */
.zflickBtnCur {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f7f8f9), color-stop(100%, #e7e8e9));
  background-image: -webkit-linear-gradient(top left, #f7f8f9 0%, #e7e8e9 100%);
  background-image: -moz-linear-gradient(top left, #f7f8f9 0%, #e7e8e9 100%);
  background-image: -o-linear-gradient(top left, #f7f8f9 0%, #e7e8e9 100%);
  background-image: linear-gradient(top left, #f7f8f9 0%, #e7e8e9 100%);
}

/* line 54, ../sass/zflick.scss */
img {
  width: 100%;
}

/* line 57, ../sass/zflick.scss */
.zlamp {
  text-align: center;
}
/* line 59, ../sass/zflick.scss */
.zlamp > div {
  display: inline-block;
  background-color: #aab4be;
  width: 12px;
  height: 4px;
  margin: 0 4px;
}
/* line 65, ../sass/zflick.scss */
.zlamp > div.cur {
  background-color: #00a0dc;
}
