@charset "utf-8";
/* Master */
/* line 8, ../sass/zflick.scss */
img {
  border: 0 none;
  vertical-align: bottom;
}

/* line 13, ../sass/zflick.scss */
.zcol {
  display: inline-block;
  float: left;
}

/* line 15, ../sass/zflick.scss */
.zflickClickBtn {
  display: inline-block;
}

/* line 18, ../sass/zflick.scss */
.zflickBtnCur {
  cursor: pointer;
}

/* line 21, ../sass/zflick.scss */
.zlink {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 24, ../sass/zflick.scss */
.group,
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* Custom */
/* line 29, ../sass/zflick.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/zflick.scss */
h1 {
  padding: 0 5px;
}

/* line 39, ../sass/zflick.scss */
.contents .zcol {
  width: 260px;
  text-align: center;
  padding: 0 10px;
}

/* line 46, ../sass/zflick.scss */
.zflickClickBtn {
  padding: 0 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(left top, #eeeeee 0%, #cccccc 100%);
  background-image: -moz-linear-gradient(left top, #eeeeee 0%, #cccccc 100%);
  background-image: -o-linear-gradient(left top, #eeeeee 0%, #cccccc 100%);
  background-image: linear-gradient(left top, #eeeeee 0%, #cccccc 100%);
  font-size: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 53, ../sass/zflick.scss */
.zflickBtnCur {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
  background-image: -webkit-linear-gradient(left top, #cdeb8e 0%, #a5c956 100%);
  background-image: -moz-linear-gradient(left top, #cdeb8e 0%, #a5c956 100%);
  background-image: -o-linear-gradient(left top, #cdeb8e 0%, #a5c956 100%);
  background-image: linear-gradient(left top, #cdeb8e 0%, #a5c956 100%);
}

/* line 56, ../sass/zflick.scss */
img {
  width: 100%;
}
